html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding: 0px;
    padding-bottom: 5em;
    margin: 0px;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Navbar */
nav {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

nav > ul > li {
    margin: auto;
    flex: 1;
}

nav > ul > li:first-child {
    font-size: 25px;
    align-self: flex-end;
    text-align: left;
    flex: 5;
}
nav > ul > li > a {
    text-decoration: none;
    color: black;
}
/*Navbar*/

/*Header*/
header {
    text-align: center;
}
/*Header*/

/*Table*/
table {
    width: 100%;
    text-align: center;
}

table > tbody > tr {
    height: 50px;
}

table > tbody > tr:nth-child(odd) {
    background-color: rgb(232, 232, 232);
}

table > tbody > tr > td > a {
    font-size: 25px;
    color: inherit;
}
/*Table*/
.addNewPlanLink {
   margin: 30px; 
}

.addNewPlanLink > a {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px rgb(64, 64, 64);
}

/*Form*/
form > fieldset > div {
    padding: 10px;
}

.readonly {
    color: grey;
    cursor: not-allowed;
}
/*Form*/

/*Footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer > ul {
    list-style: none;
}

footer > ul:nth-child(2) {
    display: flex;
    height: 50px;
    margin: 0px;
    text-align: center;
}

footer > ul:nth-child(2) > li {
    margin: auto;
    text-align: center;
    flex: 1;
}

footer > ul:first-child > li {
    font-weight: bold;
    font-size: 25px;
}

footer > ul > li > a {
    text-decoration: none;
    border-bottom: dotted 1px rgb(64, 64, 64);
    color: black;
}

/*Footer*/